[class*='col-'] {
    text-align: center;
}

h1 {
    text-align: center;
    margin: 30px;
}

img {
    width: 250px;
    height: 200px;
}

p {
    margin: 15px;
}

h3 {
    margin-top: 10px;
}

.col-lg-12 p {
    margin-bottom: 40px;
}

.blue {
    border-radius: 50%;
    background-color: rgb(42, 154, 230);
    -webkit-box-shadow: -1px 3px 0px 13px rgb(42, 154, 230));
    -moz-box-shadow: -1px 3px 0px 13px rgb(42, 154, 230));
    box-shadow: -1px 3px 0px 13px rgb(42, 154, 230));
}

.col-lg-12 {
    position: relative;
}

.col-lg-12::after {
    content: '';
    display: block;
    width: 1000px;
    height: 1px;
    background-color: rgb(199, 199, 209);
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}

.gray-background {
    background-color: #f9f9f9;
    padding: 20px;
}